# Practical 1

### 1. Read the data from the file "people.txt"

In [9]:
import pandas as pd
data = pd.read_table("people.txt",delimiter=',')
data.head()

   Age agegroup  height   status  yearsmarried
0   21    adult     6.0   single            -1
1    2    child     3.0  married             0
2   18    adult     5.7  married            20
3  221  elderly     5.0  widowed             2
4   34    child    -7.0  married             3

### 2. Create a rule set E that contian rules to check for the following conditions:
1. The age should be in the range 0-150
2. The age should be greater than yearsmarried
3. The status should be married or single or widowed
4. If age is less than 18 the agegroup should be child, if age is between 18 and 65 the agegroup should be adult, if age is more than 65 the agegroup should be elderly.

In [10]:
data['rule1'] = data.apply(lambda row:'not violated' if row['Age'] >= 0 and row['Age'] <= 150 else 'violated', axis = 1)
data.head()

   Age agegroup  height   status  yearsmarried         rule1
0   21    adult     6.0   single            -1  not violated
1    2    child     3.0  married             0  not violated
2   18    adult     5.7  married            20  not violated
3  221  elderly     5.0  widowed             2      violated
4   34    child    -7.0  married             3  not violated

In [11]:
data['rule2'] = data.apply(lambda row:'not violated' if row['Age'] > row['yearsmarried'] else 'violated', axis = 1)
data.head()

   Age agegroup  height   status  yearsmarried         rule1         rule2
0   21    adult     6.0   single            -1  not violated  not violated
1    2    child     3.0  married             0  not violated  not violated
2   18    adult     5.7  married            20  not violated      violated
3  221  elderly     5.0  widowed             2      violated  not violated
4   34    child    -7.0  married             3  not violated  not violated

In [12]:
data['rule3'] = data.apply(lambda row:'not violated' if row['status'] in ['married','single','widowed'] else 'violated', axis = 1)
data.head()

,Age,agegroup,height,status,yearsmarried,rule1,rule2,rule3
0,21,adult,6.0,single,-1,not violated,not violated,not violated
1,2,child,3.0,married,0,not violated,not violated,not violated
2,18,adult,5.7,married,20,not violated,violated,not violated
3,221,elderly,5.0,widowed,2,violated,not violated,not violated
4,34,child,-7.0,married,3,not violated,not violated,not violated

In [13]:
data['rule4'] = data.apply(lambda row:'not violated' if ((row["Age"]<18 and row["agegroup"] == "child")
                                                          or (row["Age"]>=18 and row['Age'] < 65 and row["agegroup"] == "adult")
                                                           or (row["Age"]>=65 and row["agegroup"] == "elderly"))  else 'violated', axis = 1)
data.head()

,Age,agegroup,height,status,yearsmarried,rule1,rule2,rule3,rule4
0,21,adult,6.0,single,-1,not violated,not violated,not violated,not violated
1,2,child,3.0,married,0,not violated,not violated,not violated,not violated
2,18,adult,5.7,married,20,not violated,violated,not violated,not violated
3,221,elderly,5.0,widowed,2,violated,not violated,not violated,not violated
4,34,child,-7.0,married,3,not violated,not violated,not violated,violated

### 3. check whether ruleset E is violated by data

In [14]:
if ("violated" in data.iloc[:, 5:].values):
    print("violated")

violated

### 4. Summarize data obtained

### 5. Visualize data obtained

In [15]:
import matplotlib.pyplot as plt

In [16]:
# data.scatter()

# Practical 2

In [75]:
import pandas as pd
iris_data = pd.read_csv('iris_dirty.csv')
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    150 non-null    int64
 1   Sepal.Length  142 non-null    float64
 2   Sepal.Width   139 non-null    float64
 3   Petal.Length  150 non-null    float64
 4   Petal.Width   150 non-null    float64
 5   Species       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [76]:
iris_data.drop("Unnamed: 0", inplace=True,axis=1)
iris_data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           NaN          3.6           1.4          0.2  setosa

In [77]:
iris_data["Species"] = iris_data['Species'].apply(str.lower)

In [78]:
iris_data['Species'].value_counts()

Species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [79]:
complete_count = data.dropna().shape[0]
total_count = data.shape[0]
percentage_complete = (complete_count/total_count)*100
print(f'Number of complete observations: {complete_count}')
print(f'Percentage of complete observations: {percentage_complete:.2f}%')

Number of complete observations: 5
Percentage of complete observations: 100.00%

In [80]:
iris_data = iris_data.fillna("NA")
iris_data

    Sepal.Length Sepal.Width  Petal.Length  Petal.Width    Species
0            5.1         3.5           1.4          0.2     setosa
1            4.9         3.0           1.4          0.2     setosa
2            4.7         3.2           1.3          0.2     setosa
3            4.6         3.1           1.5          0.2     setosa
4             NA         3.6           1.4          0.2     setosa
..           ...         ...           ...          ...        ...
145          6.7         3.0           5.2          2.3  virginica
146          6.3         2.5           5.0          1.9  virginica
147          6.5         3.0           5.2          2.0  virginica
148          6.2         3.4           5.4          2.3  virginica
149           NA         3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [82]:
iris_data["Rule1"]=iris_data['Species'].apply(lambda x: True if x=='setosa' or x=='versicolor' or x=='virginica' else False)
iris_data.head()

  Sepal.Length Sepal.Width  Petal.Length  Petal.Width Species  Rule1
0          5.1         3.5           1.4          0.2  setosa   True
1          4.9         3.0           1.4          0.2  setosa   True
2          4.7         3.2           1.3          0.2  setosa   True
3          4.6         3.1           1.5          0.2  setosa   True
4           NA         3.6           1.4          0.2  setosa   True

In [83]:
iris_data["Rule2"]=iris_data.iloc[:,:4].apply(lambda x: True if all(y>0 for y in x) else False, axis=1)
iris_data.head()

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
iris_data["Rule3"]=iris_data.apply(lambda x: True if x['Petal.Length']>=x["Petal.Width"] else False, axis=1)
iris_data.head()

In [ ]:
iris_data["Rule4"]=iris_data['Sepal.Length'].apply(lambda x: True if x<=30 else False)
iris_data.head()

In [81]:
iris_data["Rule5"]=iris_data.apply(lambda x: True if x["Sepal.Length"]>x['Petal.Length'] else False, axis=1)
iris_data.head()

KeyError: 'Species'